body {
    background-color: white;
    color: black;
    text-align: left;
    line-height: 140%;
    margin-top:  5%;
    margin-left: 2em;
    width: 40em;
}

h1 {
    text-align:    left;
    font-size:     200%;
    margin-top:    0em;
    margin-bottom: 1em;
    padding-left: 12px;
    border-left: 80px solid #33a;
    line-height: 80px;
}

h2 {
    text-align: left;
    font-size: 150%;
    margin-top: 3em;
    margin-bottom: 1em;
    border-bottom: 2px solid #33a;
}

h3 {
    text-align: left;
    font-size:  150%;
    margin-top: 1em;
    margin-bottom: 0.1em;
    padding-left: 8px;
    border-left: 12px solid #33a;
}

h4 {
    text-align: left;
    font-size:  150%;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

ul {
    padding-left: 1em;
}

li {
    padding-left: 0em;
}

dl {
    margin-top:    0em;
    margin-bottom: 0em;
    margin-left:   0em;
    margin-right:  0em;
}

dt {
    margin-top:    0.5em;
    margin-bottom: 0.2em;
    margin-left:   0em;
    margin-right:  0em;
}

dd {
    margin-top:    0em;
    margin-bottom: 0em;
    margin-left:   4em;
    margin-right:  0em;
}

p.caption {
    margin-botton: 0px;
}

pre {
    line-height: 120%;
    padding: 8px;
    background: #eee;
}

span.ami {
    color: black;
    background-color: #ccc;
}

.image {
    align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

address {
    font-style: normal;
    line-height: 110%;
    text-align: right;
}

a:link, a:visited {
    color: #33a;
    text-decoration: none;
}

a:active, a:visited {
    color: #666;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

/* -- */
footer {
  margin-top: 2em;
}

body {
  font-family: Georgia, serif;
}

h1 code, h2 code, h3 code, h4 code, h5 code{
  font-family: Menlo, Monaco, "Andale Mono", "Lucida console", "courier New", monospace;
  font-weight: normal;
}


pre {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida console", "courier New", monospace;
  font-size: .8em;
}

code {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida console", "courier New", monospace;
  font-size: .8em;
}

h1#chapter { font-size: 150%;  }

th { padding-right: .5em }

pre.longlist, pre.screen {
    padding: 8px;
    background: #eee;
}

pre.emlist {
    background: white;
    padding-left: 2em;
}

p { width: 35em }

.image ul {
  list-style-type: none;
  padding-left: 0;
  font-size: .8em;
  margin: 0
}

.image p { margin: 0 }

/* for chapter 16 */
div.longlist {
  padding: 8px;
  background: #eee;
  font-size: .8em;
  font-family: Menlo, Monaco, "Andale Mono", "Lucida console", "courier New", monospace;
}

div.longlist p { margin: 0 }
